html, body {
    margin: 0;
    padding: 0;
    color: white;
    font-family: Helvetica, Arial, sans-serif;
    justify-content: center;
    background-color: navy;
    
}

body {
    background: linear-gradient(to bottom, transparent, black 95rem),
      url("back.jpg");
    border:white, 10px, solid;
    padding-top: 50rem;
    background-repeat: repeat-y;
    background-size: 100%;
}

main {
    background-color: #011212;
    width: 80%;
    
    display:block;
    margin-left: 5%;
    margin-right: auto;
    padding-left: 2rem;
    padding-top: 2rem;
    
   }

iframe{
    width: 80%;
    height: 43vw;
}

iframe.mirar-al-horizonte {
    margin-left: 3rem;
    margin-top: 2rem;
}

iframe.tierra-espalda{
    margin-left: 11rem;
    margin-top: 7rem;
}


img {
    width: 70%;
}

img.drawing {
    transform: rotate(90deg);
    width: 70%;
    margin-left: 13.6%;
    margin-top: 2rem;
}



.int-map-holder {
    display: inline;
}

.map-and-photos{
    margin-top: 2rem;
    display: flex;
    margin-left: 2rem;
    flex-wrap: wrap;
}

#defaultCanvas1 {
    position:relative;
    right: 150px;
    bottom: 30px;
}

#defaultCanvas2 {
    margin-left: 1rem; 

}

h1.first-title {
    margin-left: 5%;
    font-size: 5rem;
    font-weight: 200;
    color: #9aa0af;
    margin-bottom: 7rem;
}

p {
    text-align: justify;
    font-size: 1.5rem;
    line-height: 1.6;
    text-rendering: optimizeLegibility;
}

.first-p {
    tab-size: 2rem;
    width: 60%;
    margin-left: 30%;
    color: #8fc698;
}

.p5Canvas {
    margin: 1rem;
}

.tab {
    margin: 5rem;
}

img.rio-desde-arriba {
    margin-top: 100rem; 
    margin-bottom: 10rem;
    width: 130%;
    position:relative;
    right: 13.6%;
}


/* CLUSTER IMAGES */

.cluster1 {
    position: relative;
    top: 10rem;
    width: 40%
}

.cluster2{
    margin-left: 15rem;
}

.cluster3{
    width:60%;
    position: relative;
    bottom: 3.5rem;
    margin-left: 2rem;
}