html, body {
    margin: 0;
    padding: 0;
    color: white;
    font-family: Helvetica, Arial, sans-serif;
    justify-content: center; background-color: black;
    
}

body {
    background: linear-gradient(to bottom, transparent, transparent 40rem, black 80rem),
      url("back.jpg");
    border:white, 10px, solid;
    padding-top: 50rem;
    background-repeat: repeat-y;
    background-size: 100%;
}

main {
    background-color: #011212;
    width: 80%;
    
    display:block;
    margin-left: 5%;
    margin-right: 0;
    padding-left: 2rem;
    padding-top: 2rem;
    
   }

iframe{
    width: 80%;
    height: 43vw;
}

iframe.mirar-al-horizonte {
    margin-left: 3rem;
    margin-top: 2rem;
}

iframe.tierra-espalda{
    margin-left: 11rem;
    margin-top: 7rem;
}


img {
    width: 70%;
}

img.drawing {
    transform: rotate(90deg);
    width: 70%;
    margin-left: 13.6%;
    margin-top: 2rem;
}



.int-map-holder {
    display: inline;
}

.map-and-photos{
    margin-top: 2rem;
    display: flex;
    margin-left: 2rem;
    flex-wrap: nowrap;
}

/*
#defaultVanvas0 {

}*/

#defaultCanvas1 {
    position:relative;
    right: 100px;
    bottom: 30px;
}

#defaultCanvas2 {
    margin-left: 1rem; 

}

h1.first-title {
    margin-left: 5%;
    font-size: 5rem;
    font-weight: 200;
    color: #9aa0af;
    margin-top: 2rem;
    margin-bottom: 2rem;
}

p {
    text-align: justify;
    font-size: 1.5rem;
    line-height: 1.6;
    text-rendering: optimizeLegibility;
}

.first-p {
    tab-size: 2rem;
    width: 60%;
    margin-left: 30%;
    color: #8fc698;
    margin-top: 7rem;
}

.p5Canvas {
    margin: 1rem;
}

.tab {
    margin: 2.5rem;
}

img.rio-desde-arriba {
    margin-top: 100rem; 
    margin-bottom: 10rem;
    width: 110%;
    position:relative;
    right: 7%;
}


/* CLUSTER IMAGES */

.cluster1 {
    position: relative;
    top: 10rem;
    width: 40%
}

.cluster2{
    margin-left: 15rem;
}

.cluster3{
    width:60%;
    position: relative;
    bottom: 3.5rem;
    margin-left: 2rem;
}


a.continue {
    font-size: 3rem;
    text-decoration: none;
}

a.primer-a {
    position:relative;
    bottom:3rem;
    left: 35rem;
    
    padding: 1rem 3rem 1rem 3rem;
    background-color: #054242;
    color: black;
}


/* parte 2 */

body.second {
    background: linear-gradient(to bottom, transparent, transparent 35rem, black 60rem),
    url("parte-2/back-city.jpg");
    padding-top: 50rem;
}


.go-back{
    position: relative;
    top: 2rem;
    left: 1rem;
    margin-bottom: 60rem;
}


.buenos-aires{
    width: 90%
}

p.bs1{
    margin:5rem 0rem 3rem 0rem ;
    color:#65826d;
}

p.bs2 {
    margin:2rem 0rem 3rem 0rem ;
    width: 75%;
    margin-left: 15%;
    color:#a8b3ab;
}

p.bs3{
    width: 50%;
    margin-left: 40%;
    color:
    #363b37;
    
}

p.geller{
    margin-bottom: 5rem;
    margin-top: 7rem;
    width: 60%;
    color:#d49fae;
}

q.geller {
        font-style: italic;
}
#superimposing-maps-holder {
    margin-bottom: 20rem;
    margin-left: 10%;
}

.video-to-right {
    margin-left: 17%;
    margin-bottom: 10rem;
}

.third {
    background: linear-gradient(to bottom, transparent, transparent 30rem,black 50rem),
    url("parte-3/back.jpg");
    padding-top: 50rem;
}
