html, body {
    margin: 0;
    padding: 0;
}

.int-map-holder {
    border: blue solid 20px;
    display: inline;
}

.map-and-photos{
    display: flex;
    margin-left: 2rem;
}

#defaultCanvas1 {
    position:relative;
    right: 50px;
    bottom: 30px;
}
